// GithubProfileFinder.scss

body {
  margin: 0;
  height: 100vh; /* Ensure the body takes the full height of the viewport */
  background: linear-gradient(135deg, #ff6f61, #6fa3ef, #88d2f9);
  background-size: 300% 300%; /* Allows for smooth animation if desired */
  animation: gradientAnimation 15s ease infinite;
}

.github-profile-finder {
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .container {
    height: auto;
    margin: 2rem;
    width: 60vw;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);

    .input-wrapper {
      input {
        flex: 1;
        padding: 10px;
        font-size: 16px;
        width: 18rem;
        margin: 2rem 0;
        border-radius: 5px;
        margin-left: 3rem;
        border: none;
        border: 1px solid black;
      }

      button {
        padding: 10px;
        background-color: #de2d0e;
        color: #fff;
        border: none;
        cursor: pointer;
        border-radius: 10px;
        font-size: 16px;
        margin-left: 1rem;

        &:hover {
          background-color: #de2d0ed3;
          color: #ffffffcb;
        }
      }
    }
  }
}

@media (max-width: 784px) {
  .github-profile-finder {
    height: auto;
    width: 100vw;

    .container {
      width: 80vw;
      .input-wrapper {
        input {
          width: 15rem;
          margin-right: 3rem;
        }

        button {
          font-size: 12px;
          margin-right: 1rem;
        }
      }
    }
  }
}
@media (max-width: 396px) {
  .github-profile-finder {
    .container {
      width: 90vw;
      .input-wrapper {
        input {
          width: 10rem;
        }

        button {
        }
      }
    }
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
